# Java
*.class
*.ear
*.jar
*.nar
*.rar
*.tar.gz
*.war
*.zip
hs_err_pid*

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets

# Eclipse
.classpath
.factorypath
.project
.settings
bin/
target/

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Misc
*.log
logs
